
.container-navbar{
    background-color: #FAEBD7;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first-navbar{
    background-color: #FAEBD7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    
}

.col-1,
.col-2 {
  display: flex;
  gap: 10px;
}

.enter-feature{
    font-size: 15px;
    cursor: pointer; /* Added cursor for clickable links */
    transition: color 0.3s;
}

.enter-feature:hover {
    color:#2F4F4F; /* Change color on hover */
}



.second-navbar{
    background-color: white; /* Set the background color to white */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px; /* Add padding to the second navbar */
    gap: 50px;
    margin-top: 0;
    box-sizing: border-box;
  }


.col-2-1 {
    display: flex;
    align-items: center;
}
.col-2-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  padding: 10px;
}
.mema{
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    color:  #2F4F4F;

    
}
.group{
    font-size: 15px;
    padding-top: 25px
}

@media (max-width: 768px) {
    .first-navbar {
      flex-direction: column;
      gap: 10px;
    }
  
    .second-navbar {
      flex-direction: column;
      gap: 10px;
    }
  
    .col-2-2 {
      flex-direction: column;
      font-size: 16px;
      gap: 5px;
    }
  
    .mema {
      font-size: 25px;
    }
  
    .group {
      font-size: 14px;
    }
  
    .col-1 {
      flex-direction: column;
      align-items: center;
    }
  
    .col-2 {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 480px) {
    .container-navbar {
      padding: 5px;
    }
  
    .second-navbar {
      gap: 10px;
    }
  
    .col-2-2 span {
      font-size: 14px;
    }
  
    .enter-feature {
      font-size: 13px;
    }
  }